 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1943px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 10px auto 0;
}

.u-section-1 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 307px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 307px;
  margin: 0 auto 37px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1910px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 291px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 291px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1694px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 183px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 183px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto;
}